/* Reset básico para márgenes y paddings */
/*  Este estilo asegura que todos los elementos comiencen sin márgenes ni paddings predeterminados,
    lo que facilita el diseño consistente en diferentes navegadores. */ 
/* Selecciona todos los elementos */
/*inicio padrão do css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/mapa.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-maior {
    background-color: #000000f2;
    border-radius: 25px;
    width: 450px;
    padding: 20px;
}

/* Ajuste para Celular */
@media (max-width: 480px) {
    .caixa-maior {
        width: 95%;
        padding: 15px;
    }
}

.input-texto {
    background-color: #ffffff1a;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    color: #ffffff;
    font-size: 16px;
    resize: none;
}

.idioma {
    background-color: #292929f2;
    width: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 10px;
}

.controle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

button {
    transition: transform 0.1s ease;
    background-color: #ffffff1a;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    width: 20px;
    height: auto;
}
button:active {
    transform: scale(0.9);
    background-color: #ffffff33;
}

.titulo-traducao {
    color: #ffffff99;
    margin-bottom: 10px;
    font-size: 14px;
}

.traducao {
    color: #ffffff;
    font-size: 16px;
    min-height: 20px;
}